# Ignore .env file
.env

# ignorar arquivos __TEST__

__TEST__/
coverage/

# Ignore node_modules
node_modules/

# Ignore logs
logs/
*.log

# Ignore sistema operacional e arquivos temporários do editor
.DS_Store
Thumbs.db
.vscode/
.idea/
