<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskApp</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
        /* Loader */
        .loader {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 8px solid #f3f3f3;
            border-top: 8px solid #444;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            animation: spin 1s linear infinite;
            z-index: 1000;
        }

        /* Animação do loader */
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        /* Ocultar o loader após o carregamento */
        .loaded .loader {
            display: none;
        }

        /* Manter a rolagem bloqueada até o conteúdo estar carregado */
        .no-scroll {
            overflow: hidden;
        }
    </style>
</head>
<body class="no-scroll"> <!-- Impede a rolagem enquanto o loader está ativo -->
    
    <!-- Loader -->
    <div class="loader" id="loader"></div>

    <!-- Cabeçalho e conteúdo principal -->
    {{>_navbar}} {{!-- chamar o cabeçalho --}}

    <div class="container mt-4"> 
        {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
        {{else}}
        {{/if}}
        
        {{>_msg}} {{!-- chamar a validação de formulário--}}
        {{{body}}}
    </div>

    <!-- Bootstrap e scripts de dependências -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>

    <script type="module" src="/js/main/main.js"></script>
    {{!-- file:///c:/nodejs/taskApp/public/js/main/main.js --}}
</body>
</html>
