<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário de Tarefas</title>
    <link rel="stylesheet" href="/css/index/index.css"> {{!-- file:///c:/nodejs/taskApp/public/css/index/index.css --}}
    {{!-- o arquivo esta no diretorio public, por que é o padrão do codigo  --}}
</head>
<body>
    <h1 id="month-title">Calendário de Novembro 2024</h1>
    
    <!-- Botões de navegação entre os meses -->
    <div class="nav-buttons">
        <button id="btn-lastMonth">Mês Anterior</button>
        <button id="btn-nextMonth">Próximo Mês</button>
    </div>
    
    <!-- Calendário -->
    <div id="calendar" class="calendar"></div>

    {{#if isLoggedIn}}
        {{!-- Lista de tarefas --}}
        <div class="task-list" id="task-list">
            <h3 id="task-list-title">Lista de Tarefas</h3>
            <p id="p"></p>
            <ul id="task-items"></ul>
        </div>
    {{else}}
        <p>Por favor, faça login para ver suas tarefas.</p>
    {{/if}}

    <script type="module" src="/js/index/index.mjs"></script>
    {{!-- file:///c:/nodejs/taskApp/public/js/index/index.mjs --}}
</body>
</html>
