<style>
    body {
        background-color: #302f2f;
        overflow: hidden; /* Evita rolagem durante o loading */
    }
    /* Styling for Success and Error alert messages */
    .alert {
        padding: 15px;
        border-radius: 8px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    /* styling for success message*/
    .alert-success {
        background-color: #28a745;
        border: 1px solid #218838;
        color: #ffffff;
        transition: background-color 0.3s, transform 0.3s ease-in-out;
    }
    /* style for Error message*/
    .alert-danger {
        text-align: center;
        background-color: #811515;
        color: #FFFFFF;
        border-color: #797979;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 15px;
    }
    /* Styling for close button in success and error messages */
    .alert-success .close, .alert-danger .close {
        color: #ffffff; /* White color for the close button */
        opacity: 0.7; /* Slight transparency for the close button */
    }
    /* Hover effect for close button in success and error messages */
    .alert-success .close:hover, .alert-danger .close:hover {
        opacity: 1; /* Removes transparency on hover */
    }
</style>
{{!-- Success flash message --}}
{{#if successMsg}}
    {{#each successMsg}}
        <div class="alert alert-success successMsg">{{this}}</div>
    {{/each}}
{{/if}} 
{{!-- Error flash message --}}
{{#if errorMsg}}
    {{#each errorMsg}}
        <div class="alert alert-danger errorMsg">{{this}}</div>
    {{/each}}
{{/if}}


